

*{
    margin: 0;
    padding: 0
}
h1{
    font-size:40px ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin-right:-20px ;
    height:500px;
}
body {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh; 
    background: rgb(164,99,224);
    background: linear-gradient(90deg, rgba(164,99,224,1) 0%, rgba(131,67,228,1) 0%, rgba(137,255,246,1) 100%);
  }



input {
    
    margin-left: -100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2 auto;
  }

label {

    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

select {
  
    mix-blend-mode: luminosity;
    font-family: Cambria, Georgia, serif;
    margin-bottom: 40px;
    margin-top: 10px;
    margin-left: -140px;
  }

button{
  margin-left: -110px;
  margin-top: 60px;
 
}

input{
  mix-blend-mode: luminosity;
  margin-left: -125px;
 
  width: 100px;
}

.bg-img{
  position: absolute;
  z-index: -100;
  width: 1520px;
  height: 820px;
  mix-blend-mode: saturation;

}